<html>
    <head>
        <title>Info</title>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <link rel="stylesheet"
        href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script type="text/javascript" src="{{ url_for('static', filename = 'templates.js') }}"></script>
        <script>
            var mushroom = {{mushroom|tojson}} 
        </script>
    </head>
    <style>
        .bold{
            font-weight: bold;
        }
        .large-font{
            font-size: 6vh;
        }
        .semi-large{
            font-size: 3vh;
        }
        .blue{
            color: blue;
        }
        .add-commment{
            cursor: pointer;
        }
    </style>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>


    <body>
        <div class = "container">
            <br>
            <div class = "row">
                <div class = "col-md-12">
                    <span class = "blue bold back semi-large">
                        <a href = "/"><-- Go back to homepage</a>
                    </span>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12 text-center">
                    <div class = "species bold large-font">

                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12 text-center">
                    <div class = "image">

                    </div>
                </div>
            </div> <br>
            <div class = "row">
                <div class = "col-md-6 edible text-center">

                </div>
                <div class = "col-md-6 capsize text-center">

                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12 common-names">

                </div>
            </div> <br>
            <div class = "row">
                <div class = "col-md-12 info">

                </div>
            </div> <br>
            <div class = "row">
                <div class = "col-md-12 comments">

                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12 add-comment"> <br>
                    <span class = "blue bold hover-text">Add/edit Comments</span>
                </div>
            </div>
    </body> <br> <br>
</html>